In [1]:
import matplotlib.pyplot as plt
# %pip install pandas
import pandas as pd
import numpy as np
import os
os.environ["OPENBLAS_NUM_THREADS"] = "1"

In [2]:
data = pd.read_csv('data\ingredients_list.csv')
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\i'
<>:1: SyntaxWarning: invalid escape sequence '\i'
C:\Users\bi020\AppData\Local\Temp\ipykernel_19384\2214038303.py:1: SyntaxWarning: invalid escape sequence '\i'
  data = pd.read_csv('data\ingredients_list.csv')

                   0
0      winter squash
1  mexican seasoning
2        mixed spice
3              honey
4             butter

In [3]:
data.rename(columns={'0': 'ingredients'}, inplace=True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14722 entries, 0 to 14721
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ingredients  14722 non-null  object
dtypes: object(1)
memory usage: 115.1+ KB

In [5]:
# veggi = ['tomato','parsley','pepper','seed','green','horseradish','zucchini','cabbage','carrot','broccoli','rosemary', 'corn', 'olive', 'celery','fig']
# fruit = ['banana','apple','orange','coconut','grape','grapefruit','melon']
# meat = ['beek','pork','chicken','fish','turkey','bacon','goat','egg','shrimp','crab']
# dairy = ['milk','cheese','yoghurt','butter','cream']
# seasoning = ['salt','sugar','peper','chilli','oil','sesame','sauce']np

In [6]:
import spacy

In [7]:
nlp = spacy.load('en_core_web_md')

# embed
embeddings = np.array([nlp(item).vector for item in data['ingredients']])

In [8]:
ingre1 = nlp('diced tomatoes')
ingre2 = nlp('tomato paste')
ingre1.similarity(ingre2)

0.7420349702036271

In [11]:
spacy_em = pd.read_csv('data/spacy_embed.csv')
spacy_em

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,1.104165,0.079255,-1.514650,2.700600,2.499510,-0.473600,-0.476250,3.530900,-0.388035,1.870170,...,2.839450,-0.717450,1.061560,-0.554355,-2.257350,0.753575,2.593450,-2.538500,-0.992950,0.551400
1,-1.238975,0.915855,-1.018450,0.695485,4.953700,-0.827058,3.253400,3.120700,-1.345270,0.428330,...,3.287250,-0.810050,0.746895,0.201900,-3.165550,-1.228590,2.807550,-3.337150,-2.604500,0.315630
2,-0.468350,-2.699900,0.680207,2.476400,-1.860700,-7.014450,2.648345,1.177450,-4.090800,2.097326,...,0.107200,-1.009505,0.967665,-3.604750,-4.038100,-2.899400,1.567250,0.613700,-1.841100,-0.366370
3,1.021300,-2.287600,-2.168200,1.217400,-1.126100,-2.821500,-0.036225,-0.426690,-3.009600,3.019400,...,-0.262690,-0.899570,1.168300,-4.385100,-2.711500,-2.575400,5.531500,2.874300,-2.254200,-2.087300
4,1.317300,-0.673610,-2.326800,2.797100,1.855800,-4.995800,2.131200,4.541300,-4.727900,1.218200,...,0.205380,-2.159700,0.775250,-6.018500,-4.595900,0.523740,6.539300,1.042800,0.458120,-0.207990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14717,-0.795408,0.906700,-0.319717,4.866600,2.668275,-2.283650,-1.200330,1.134138,-5.018950,0.187513,...,-0.452833,2.806575,-1.077565,-2.845700,-2.115525,0.732633,2.173375,0.379275,0.088353,-2.647295
14718,-1.102370,0.050124,-3.736560,1.684404,1.155244,-0.324176,1.734378,2.093603,-1.699908,1.022920,...,-0.302650,0.718062,2.473340,-0.760610,-1.646656,0.722384,1.580600,0.254390,-0.868766,-0.055834
14719,-0.495453,1.789229,0.984200,2.402646,2.951065,-1.624481,-0.951877,-1.772763,-3.584073,0.305657,...,1.905301,-0.881723,3.570116,0.420557,-0.991079,-0.193879,3.852187,0.867803,-0.806114,0.984013
14720,0.666967,-2.021017,-2.492300,2.043600,1.535480,-1.355657,-0.725327,2.367300,-3.855500,0.611763,...,2.630067,-0.908820,3.184400,-2.665313,-1.559123,0.385343,2.061233,0.358800,-0.033455,-0.049750
14721,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
# import torch
# from transformers import AutoTokenizer, AutoModel

In [13]:
# # Load pre-trained BERT model and tokenizer
# model_name = 'bert-base-uncased'
# tokenizer = AutoTokenizer.from_pretrained(model_name)
# model = AutoModel.from_pretrained(model_name)

In [14]:
# inputs = tokenizer(data['ingredients'].tolist(), return_tensors='pt', padding=True, truncation=True, max_length=10)

In [15]:
# # Get the embeddings
# with torch.no_grad():
#     outputs = model(**inputs)

# # `outputs` is a dictionary with several components. `last_hidden_state` contains the embeddings
# embeddings = outputs.last_hidden_state

In [16]:
# # We can take the mean of the token embeddings to get a single vector per ingredient
# ingredient_embeddings = embeddings.mean(dim=1)

# # (shape n_ingredients x 768)
# ingredient_embeddings

In [17]:
# import nltk
# nltk.download('punkt')
# # from nltk.cluster import KMeansClusterer
# from nltk.tokenize import word_tokenize
# # from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.preprocessing import StandardScaler

In [18]:
# # Tokenize the ingredients
# ingredient_tokens = [word_tokenize(ingredient) for ingredient in data['ingredients']]

# # Convert tokens back to string for TF-IDF vectorization
# ingredient_texts = [' '.join(tokens) for tokens in ingredient_tokens]

# data_set = set(data)
# ingre_set = set(ingredient_texts)

# # Find the difference
# missing_in_tokenized = data_set - ingre_set
# missing_in_tokenized

In [19]:
# # Find difference between data and ingredient_text
# data['ingredients'] = ingredient_texts

In [20]:
# # TF-IDF vectorization
# vectorizer = TfidfVectorizer(stop_words='english')
# X = vectorizer.fit_transform(ingredient_texts)

# # Normalize the TF-IDF matrix
# scaler = StandardScaler()
# X_normalized = scaler.fit_transform(X.toarray())

In [21]:
# # Apply KMeans clustering with NLTK
# num_clusters = 5  # Adjust as needed
# kclusterer = KMeansClusterer(num_clusters, distance=nltk.cluster.util.cosine_distance, repeats=25)
# assigned_clusters = kclusterer.cluster(X_normalized, assign_clusters=True)

# # Visualize the clusters
# plt.figure(figsize=(10, 6))
# plt.scatter(X_normalized[:, 0], X_normalized[:, 1], c=assigned_clusters, cmap='viridis')
# plt.xlabel('Normalized TF-IDF Feature 1')
# plt.ylabel('Normalized TF-IDF Feature 2')
# plt.title('Clusters of Ingredients')
# plt.show()

In [22]:
# import numpy as np

# # Get cluster means
# cluster_means = np.array(kclusterer.means())

# # Calculate distances between each point and cluster means
# distances = np.linalg.norm(X_normalized[:, np.newaxis] - cluster_means, axis=2)

# # Assign labels based on the nearest cluster mean
# labels = np.argmin(distances, axis=1)

# data['cluster'] = labels
# data.head()